.about{
	overflow: hidden;
}

/* Section One */
.webContent{
	display: block;
}

.mobileContent{
	display: none;
}

.about .webtext{
	color: white;
	font-size: 1.5rem;
	margin-left: 4rem;
	margin-top: -1rem;
}

.webContent .title-text-about {
	margin-bottom: 0.1rem;
	font-size: 65px;
	color: #a6a6a6;
}

.webContent .text-title-about {
	font-size: 35px;
	color: #ffffff;
	margin-bottom: 0.1rem;
	margin-top: -8rem;
}

.webContent .sub-title-text-about {
	font-size: 15px;
	color: #ffffff;
	width: 37rem;
	margin-left: 42rem;
	line-height: 1.6;
	margin-bottom: 1.5rem;
}

.webContent .gold-element-top {
	transform: rotateY(180deg);
	margin-left: 70rem;
}

.webContent .gold-element-bottom {
	transform: rotateY(180deg);
	margin-left: -5rem;
	margin-top: -6rem;
}

.webContent .wrapper {
	height: 48px;
	text-align: center;
	background: #fff;
	border: none;
	outline: none;
	border-radius: 3px;
	margin: 15px;
	position: relative;
	display: inline-flex;
}

.webContent .wrapper .icon {
	margin-left: 1rem;
}


/* Section Two */
.webHeaderOne{
	display: block;
}

.mobileHeaderOne{
	display: none;
}

.webHeaderOne{
	margin-bottom: 30rem;
}

.webHeaderOne .island-image {
	margin-top: 5rem;
	margin-left: 15rem;
	width: 40rem;
}

.webHeaderOne .containerOne{
	width: 40rem;
	margin-left: 60rem;
	margin-top: -40rem;
}

.webHeaderOne .title-text-about-big1 {
	font-size: 60px;
	color: #cbcbd2;
}

.webHeaderOne .text-caption-about {
	font-size: 15px;
	margin-bottom: 2rem;
	margin-left: 0.5rem;
	color: #a6a6a6;
}


.webHeaderOne .text-list {
	font-size: 16px;
	line-height: 2rem;
	margin-left: -0.3rem;
	color: #ffffff;
}


/* Section Three */
.webHeaderTwo{
	display: block;
}

.mobileHeaderTwo{
	display: none;
}

.webHeaderTwo .containerTwo{
	width: 50rem;
	margin-left: 10rem;
}

.webHeaderTwo{
	margin-bottom: 15rem;
}

.webHeaderTwo .text-caption {
	font-size: 15px;
	margin-bottom: 1rem;
	color: #ffffff;
	text-align: center;
}

.webHeaderTwo .text-quote {
	font-size: 15px;
	margin-bottom: 0.5rem;
	color: #a6a6a6;
	text-align: center;
	border: #ffcc4d;
	border-width: 0px 5px;
	border-style: solid;
}

.webHeaderTwo .title-text-about-big1 {
	font-size: 30px;
	line-height: 5rem;
	text-transform: uppercase;
	color: #ffffff;
}

.webHeaderTwo .btn-join {
	font-size: 20px;
	padding: 0.75rem 2.5rem;
	border-radius: 0.75rem;
	background-color: #ffffff;
	transition: 0.3s;
}

.webHeaderTwo .arrow-enquiry {
	width: 0.75rem;
	display: block;
	margin: auto;
}

.webHeaderTwo .imgOne{
	width: 35rem;
	margin-left: 70rem;
	margin-top: -40rem;
}

.webHeaderTwo .imgTwo{
	width: 10rem;
	margin-left: 70rem;
	margin-top: -10.4rem;
}

.webHeaderTwo .imgThree{
	width: 10rem;
	margin-left: 70rem;
	margin-top: -3rem;
}

.webHeaderTwo .imgFour{
	width: 24rem;
	margin-left: 1rem;
	margin-top: -10rem;
}


@media (min-width: 350px) and (max-width: 399px){
	.webtext{
		display: none;
	}
	
	.mobileContent{
		display: block;
	}

	.webContent{
		display: none;
	}

	/* Section One */
	.mobileContent{
		
		width: 18rem;
		margin-left: auto;
		margin-right: auto;
	}

	.mobileContent .title-text-about {
		margin-bottom: 0.1rem;
		font-size: 50px;
		margin-left: -0.5rem;
		width: 20rem;
		color: #a6a6a6;
	}

	.mobileContent .text-title-about {
		font-size: 20px;
		color: #ffffff;
		margin-left: -101rem;
		margin-top: -8rem;
	}

	.mobileContent .sub-title-text-about {
		font-size: 12px;
		color: #ffffff;
		width: 20rem;
		margin-left: -0.5rem;
		line-height: 1.5;
	}

	.mobileContent .gold-element-top {
		transform: rotateY(180deg);
		margin-left: 5rem;
		margin-top: -10rem;
	}

	.mobileContent .gold-element-bottom {
		transform: rotateY(180deg);
		margin-left: -45rem;
		margin-top: -6rem;
	}

	.mobileContent .wrapper {
		height: 48px;
		margin-left: -101rem;
		text-align: center;
		background: #fff;
		border: none;
		outline: none;
		border-radius: 3px;
		position: relative;
		display: inline-flex;
	}

	.mobileContent .wrapper .icon {
		margin-left: 1rem;
	}


	/* Section Two */
	.webHeaderOne{
		display: none;
	}

	.mobileHeaderOne{
		display: block;
	}

	.mobileHeaderOne{
		width: 20rem;
		margin-left: auto;
		margin-right: auto;
	}

	.mobileHeaderOne .island-image {
		margin-top: 10rem;
		margin-bottom: 1rem;
		width: 20rem;
	}

	.mobileHeaderOne .containerOne{
		width: 20rem;
		text-align: center;
	}

	.mobileHeaderOne .title-text-about-big1 {
		font-size: 30px;
		color: #cbcbd2;
	}

	.mobileHeaderOne .text-caption-about {
		font-size: 13px;
		margin-bottom: 2rem;
		
		color: #a6a6a6;
	}

	.mobileHeaderOne .text-list {
		font-size: 12px;
		line-height: 2rem;
		margin-left: -1rem;
		color: #ffffff;
	}

	/* Section Three */
	.webHeaderTwo{
		display: none;
	}

	.mobileHeaderTwo{
		display: block;
	}

	.mobileHeaderTwo .containerTwo{
		width: 50rem;
		margin-left: 10rem;
	}

	.mobileHeaderTwo{
		margin-top: 10rem;
		margin-bottom: 5rem;
		margin-left: auto;
		margin-right: auto;
		width: 20rem;
	}

	.mobileHeaderTwo .text-caption {
		font-size: 12px;
		margin-bottom: 1rem;
		margin-left: -10rem;
		width: 20rem;
		color: #ffffff;
		text-align: center;
	}

	.mobileHeaderTwo .title-text-about-big1 {
		font-size: 20px;
		text-transform: uppercase;
		color: #ffffff;
	}

	.mobileHeaderTwo .text-quote {
		font-size: 12px;
		margin-bottom: 0.5rem;
		color: #a6a6a6;
		text-align: center;
		border: #ffcc4d;
		border-width: 0px 5px;
		border-style: solid;
		margin-left: -10rem;
		width: 20rem;
	}

	.mobileHeaderTwo .arrow-enquiry {
		width: 0.75rem;
		display: block;
		margin-left: -1rem;
		margin-bottom: 0.5rem;
	}

	.mobileHeaderTwo .btn-join {
		font-size: 15px;
		margin-left: -49.5rem;
		padding: 0.75rem 2.5rem;
		border-radius: 0.75rem;
		background-color: #ffffff;
		transition: 0.3s;
	}

	.mobileHeaderTwo .imgOne{
		width: 17rem;
		margin-left: 1.5rem;
		margin-top: 2rem;
	}

	.mobileHeaderTwo .imgTwo{
		width: 17rem;
		margin-left: 1.5rem;
		margin-top: 2rem;
	}

	.mobileHeaderTwo .imgThree{
		width: 17rem;
		margin-left: 1.5rem;
		margin-top: 2rem;
	}

	.mobileHeaderTwo .imgFour{
		width: 17rem;
		margin-left: 1.5rem;
		margin-top: 2rem;
	}

}


@media (min-width: 400px) and (max-width: 699px){
	.webtext{
		display: none;
	}
	
	.mobileContent{
		display: block;
	}

	.webContent{
		display: none;
	}

	/* Section One */
	.mobileContent{
		width: 18rem;
		margin-left: auto;
		margin-right: auto;
	}

	.mobileContent .title-text-about {
		margin-bottom: 0.1rem;
		font-size: 60px;
		margin-left: -0.5rem;
		width: 20rem;
		color: #a6a6a6;
	}

	.mobileContent .text-title-about {
		font-size: 25px;
		color: #ffffff;
		margin-left: -101rem;
		margin-top: -8rem;
	}

	.mobileContent .sub-title-text-about {
		font-size: 14px;
		color: #ffffff;
		width: 20rem;
		margin-left: -0.5rem;
		line-height: 1.5;
	}

	.mobileContent .gold-element-top {
		transform: rotateY(180deg);
		margin-left: 5rem;
		margin-top: -10rem;
	}

	.mobileContent .gold-element-bottom {
		transform: rotateY(180deg);
		margin-left: -45rem;
		margin-top: -6rem;
	}

	.mobileContent .wrapper {
		height: 48px;
		margin-left: -101rem;
		text-align: center;
		background: #fff;
		border: none;
		outline: none;
		border-radius: 3px;
		position: relative;
		display: inline-flex;
	}

	.mobileContent .wrapper .icon {
		margin-left: 1rem;
	}


	/* Section Two */
	.webHeaderOne{
		display: none;
	}

	.mobileHeaderOne{
		display: block;
	}

	.mobileHeaderOne{
		width: 20rem;
		margin-left: auto;
		margin-right: auto;
	}

	.mobileHeaderOne .island-image {
		margin-top: 10rem;
		margin-bottom: 1rem;
		margin-left: -1rem;
		width: 22rem;
	}

	.mobileHeaderOne .containerOne{
		width: 20rem;
		text-align: center;
	}

	.mobileHeaderOne .title-text-about-big1 {
		font-size: 35px;
		color: #cbcbd2;
	}

	.mobileHeaderOne .text-caption-about {
		font-size: 14px;
		margin-bottom: 2rem;
		color: #a6a6a6;
	}

	.mobileHeaderOne .text-list {
		font-size: 12px;
		line-height: 2rem;
		margin-left: -1rem;
		color: #ffffff;
	}

	/* Section Three */
	.webHeaderTwo{
		display: none;
	}

	.mobileHeaderTwo{
		display: block;
	}

	.mobileHeaderTwo .containerTwo{
		width: 50rem;
		margin-left: 10rem;
	}

	.mobileHeaderTwo{
		margin-top: 10rem;
		margin-bottom: 5rem;
		margin-left: auto;
		margin-right: auto;
		width: 20rem;
	}

	.mobileHeaderTwo .text-caption {
		font-size: 13px;
		margin-bottom: 1rem;
		margin-left: -10rem;
		width: 20rem;
		color: #ffffff;
		text-align: center;
	}

	.mobileHeaderTwo .title-text-about-big1 {
		font-size: 20px;
		text-transform: uppercase;
		color: #ffffff;
	}

	.mobileHeaderTwo .text-quote {
		font-size: 13px;
		margin-bottom: 0.5rem;
		color: #a6a6a6;
		text-align: center;
		border: #ffcc4d;
		border-width: 0px 5px;
		border-style: solid;
		margin-left: -10rem;
		width: 20rem;
	}

	.mobileHeaderTwo .arrow-enquiry {
		width: 0.75rem;
		margin-left: -50rem;
		margin-bottom: 0.5rem;
	}

	.mobileHeaderTwo .btn-join {
		font-size: 15px;
		margin-left: -50rem;
		padding: 0.75rem 2.5rem;
		border-radius: 0.75rem;
		background-color: #ffffff;
		transition: 0.3s;
	}

	.mobileHeaderTwo .imgOne{
		width: 20rem;
		margin-left: 0rem;
		margin-top: 2rem;
	}

	.mobileHeaderTwo .imgTwo{
		width: 20rem;
		margin-left: 0rem;
		margin-top: 2rem;
	}

	.mobileHeaderTwo .imgThree{
		width: 20rem;
		margin-left: 0rem;
		margin-top: 2rem;
	}

	.mobileHeaderTwo .imgFour{
		width: 20rem;
		margin-left: 0rem;
		margin-top: 2rem;
	}

}

@media (min-width: 700px) and (max-width:991px){
	.webtext{
		display: none;
	}
	
	.mobileContent{
		display: block;
	}

	.webContent{
		display: none;
	}

	/* Section One */
	.mobileContent{
		width: 18rem;
		margin-left: auto;
		margin-right: auto;
	}

	.mobileContent .title-text-about {
		margin-bottom: 0.1rem;
		font-size: 70px;
		margin-left: -3rem;
		width: 25rem;
		color: #a6a6a6;
	}

	.mobileContent .text-title-about {
		font-size: 27px;
		color: #ffffff;
		margin-left: -101rem;
		margin-top: -8rem;
	}

	.mobileContent .sub-title-text-about {
		font-size: 16px;
		color: #ffffff;
		width: 20rem;
		margin-left: -0.5rem;
		line-height: 1.5;
	}

	.mobileContent .gold-element-top {
		transform: rotateY(180deg);
		margin-left: 5rem;
		margin-top: -10rem;
	}

	.mobileContent .gold-element-bottom {
		transform: rotateY(180deg);
		margin-left: -45rem;
		margin-top: -6rem;
	}

	.mobileContent .wrapper {
		height: 48px;
		margin-left: -101rem;
		text-align: center;
		background: #fff;
		border: none;
		outline: none;
		border-radius: 3px;
		position: relative;
		display: inline-flex;
	}

	.mobileContent .wrapper .icon {
		margin-left: 1rem;
	}


	/* Section Two */
	.webHeaderOne{
		display: none;
	}

	.mobileHeaderOne{
		display: block;
	}

	.mobileHeaderOne{
		width: 20rem;
		margin-left: auto;
		margin-right: auto;
	}

	.mobileHeaderOne .island-image {
		margin-top: 10rem;
		margin-bottom: 1rem;
		margin-left: -5rem;
		width: 30rem;
	}

	.mobileHeaderOne .containerOne{
		width: 25rem;
		margin-left: -1rem;
		text-align: center;
	}

	.mobileHeaderOne .title-text-about-big1 {
		font-size: 40px;
		color: #cbcbd2;
	}

	.mobileHeaderOne .text-caption-about {
		font-size: 15px;
		margin-bottom: 2rem;
		color: #a6a6a6;
	}

	.mobileHeaderOne .text-list {
		font-size: 14px;
		line-height: 2rem;
		margin-left: -1rem;
		color: #ffffff;
	}

	/* Section Three */
	.webHeaderTwo{
		display: none;
	}

	.mobileHeaderTwo{
		display: block;
	}

	.mobileHeaderTwo .containerTwo{
		width: 50rem;
		margin-left: 10rem;
	}

	.mobileHeaderTwo{
		margin-top: 10rem;
		margin-bottom: 5rem;
		margin-left: auto;
		margin-right: auto;
		width: 20rem;
	}

	.mobileHeaderTwo .text-caption {
		font-size: 16px;
		margin-bottom: 1rem;
		margin-left: -10rem;
		width: 22rem;
		color: #ffffff;
		text-align: center;
	}

	.mobileHeaderTwo .title-text-about-big1 {
		font-size: 20px;
		text-transform: uppercase;
		color: #ffffff;
		line-height: 2.5rem;
	}

	.mobileHeaderTwo .text-quote {
		font-size: 14px;
		margin-bottom: 0.5rem;
		color: #a6a6a6;
		text-align: center;
		border: #ffcc4d;
		border-width: 0px 5px;
		border-style: solid;
		margin-left: -10rem;
		width: 22rem;
	}

	.mobileHeaderTwo .arrow-enquiry {
		width: 0.75rem;
		margin-left: -48rem;
		margin-bottom: 0.5rem;
	}

	.mobileHeaderTwo .btn-join {
		font-size: 15px;
		margin-left: -48rem;
		padding: 0.75rem 2.5rem;
		border-radius: 0.75rem;
		background-color: #ffffff;
		transition: 0.3s;
	}

	.mobileHeaderTwo .imgOne{
		width: 25rem;
		margin-left: -1.8rem;
		margin-top: 2rem;
	}

	.mobileHeaderTwo .imgTwo{
		width: 25rem;
		margin-left: -1.8rem;
		margin-top: 2rem;
	}

	.mobileHeaderTwo .imgThree{
		width: 25rem;
		margin-left: -1.8rem;
		margin-top: 2rem;
	}

	.mobileHeaderTwo .imgFour{
		width: 25rem;
		margin-left: -1.8rem;
		margin-top: 2rem;
	}
}
