.navbar-brand{
	margin-left: 2rem;
}

.header-2 .modal-item .modal-backdrop.show {
	background-color: #707092;
	opacity: 0.8;
	visibility: collapse !important;
}

.header-2 .login {
	width: max-content;
}

.header-2 .navbar-dark .navbar-nav .nav-link {
	color: #a6a6a6;
	margin-left: 3rem;
	font-size: 1.2rem;
}

.header-2 .navbar-dark .navbar-nav .nav-link:hover {
	color: #e7e7e8;
}

.header-2 .btn-fill {
	font-family: "Arimo", sans-serif;
	background-color: #ffcc4d;
	border-radius: 12px;
	padding: 12px 32px;
	transition: 0.3s;
}

.header-2 .modal-item .modal-dialog .modal-content {
	background-color: rgb(42, 42, 42);
}

.header-2 .responsive li a {
	padding: 1rem;
}

.btncontainer{
	width: 20rem;
	margin-left: 30rem;
}

@media (min-width: 350px) {
	.header-2 .modal-item .modal-dialog {
		max-width: 95%;
		border-radius: 12px;
	}

	.header-2 .navbar {
		padding: 3rem 2rem;
	}

	.header-2 .title-text-big {
		font-size: 3rem;
		line-height: 1.2;
	}
}

@media (min-width: 768px) {
	.header-2 .navbar {
		padding: 3rem 4rem;
	}
}
 
@media (min-width: 992px) {
	
	.header-2 .navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 1.25rem;
		padding-left: 1.25rem;
	}

	.header-2 .navbar {
		padding: 3rem 2rem 0rem;
	}

	.header-2 .title-text-big {
		font-size: 3.75rem;
		line-height: 1.2;
	}

	.header-2 .caption-logo {
		display: block;
	}

	.header-2 .caption-index {
		font-weight: 600;
		margin-bottom: 0.1rem;
		margin-top: 1.25rem;
	}
}

