.webEnquiry{
	display: block;
}

.mobileEnquiry{
	display: none;
}

.webEnquiry .list-space {
	margin-bottom: 3.3rem;
	color: #ffffff;
}

.webEnquiry  .footer-memorable {
	font-size: 3rem;
	line-height: 1.5rem;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 2rem;
}

.webEnquiry .navbar-brand {
	margin-bottom: 1.6rem;
}

.webEnquiry  .footer-text-title {
	font: 400 1rem /1.5rem Poppins, sans-serif;
	margin-bottom: 1.5rem;
	width: 90%;
}

.webEnquiry  .list-menu {
	color: #ffffff;
	text-decoration: none !important;
}

.webEnquiry  .menu-caption {
	color: #ffffff;
	text-decoration: none !important;
	margin-bottom: 1.25rem;
}

.webEnquiry  hr.hr {
	margin: 0;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.webEnquiry  .border-color {
	color: #c7c7c7;
}

.webEnquiry  .footer-link {
	color: #c7c7c7;
}

.webEnquiry  .footer-link:hover {
	color: #555252;
}

.webEnquiry  .social-media-c:hover circle,
.webEnquiry  .social-media-p:hover path {
	fill: #555252;
}

.webEnquiry  .footer-info-space {
	padding-top: 3rem;
}

.webEnquiry  .list-footer {
	padding: 5rem 1rem 3rem 1rem;
}

.webEnquiry  .info-footer {
	padding: 0 1rem 3rem;
}

.webEnquiry  .get-in-touch {
	max-width: 800px;
	margin: 50px auto;
	position: relative;
}

.webEnquiry .contact-form .form-field {
	position: relative;
	margin: 32px 0;
}

.webEnquiry  .contact-form .input-text {
	display: block;
	width: 100%;
	height: 36px;
	border-width: 0 0 2px 0;
	border-color: #ffffff;
	background-color: #2a2a2a;
	color: #ffffff;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
}

.webEnquiry  .contact-form .form-control {
	width: 100%;
	height: 5rem;
	border-width: 0 0 2px 0;
	border-color: #ffffff;
	background-color: #2a2a2a;
	color: #ffffff;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
}

.webEnquiry  .input:focus {
	outline: none !important;
}

.webEnquiry .textarea:focus {
	outline: none !important;
}

.webEnquiry  .contact-form .label {
	left: 20px;
	bottom: 11px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 200;
	color: #ffffff;
	cursor: text;
	/* transition: -webkit-transform 0.2s ease-in-out;
transition: transform 0.2s ease-in-out;
transition: transform 0.2s ease-in-out,
-webkit-transform 0.2s ease-in-out; */
}
.webEnquiry  .contact-form .submit-btn {
	font: 600 18px / normal Poppins, sans-serif;
	background-color: #ffcc4d;
	border-radius: 12px;
	padding: 12px 32px;
	transition: 0.3s;
}

.webEnquiry .contact-form .submit-btn:hover {
	--tw-shadow: inset 0 0px 25px 0 rgba(20, 20, 50, 0.7);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	transition: 0.3s;
}

.webEnquiry .rrcontainer{
	margin-left: -2rem;
}



@media (min-width:350px) and (max-width:991px){
	.webEnquiry{
		display: none;
	}
	
	.mobileEnquiry{
		display: block;
	}
	
	.mobileEnquiry .list-space {
		margin-bottom: 3.3rem;
		color: #ffffff;
	}
	
	.mobileEnquiry .footer-memorable {
		font-size: 3rem;
		line-height: 1.5rem;
		font-weight: bold;
		color: #ffffff;
		margin-bottom: 2rem;
	}
	
	.mobileEnquiry .navbar-brand {
		margin-bottom: 1.6rem;
	}
	
	.mobileEnquiry  .footer-text-title {
		font: 400 1rem /1.5rem Poppins, sans-serif;
		margin-bottom: 1.5rem;
		width: 90%;
	}
	
	.mobileEnquiry  .list-menu {
		color: #ffffff;
		text-decoration: none !important;
	}
	
	.mobileEnquiry .menu-caption {
		color: #ffffff;
		text-decoration: none !important;
		margin-bottom: 1.25rem;
	}
	
	.mobileEnquiry  hr.hr {
		margin: 0;
		border: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	
	.mobileEnquiry  .border-color {
		color: #c7c7c7;
	}
	
	.mobileEnquiry .footer-link {
		color: #c7c7c7;
	}
	
	.mobileEnquiry  .footer-link:hover {
		color: #555252;
	}
	
	.mobileEnquiry  .social-media-c:hover circle,
	.mobileEnquiry  .social-media-p:hover path {
		fill: #555252;
	}
	
	.mobileEnquiry  .footer-info-space {
		padding-top: 3rem;
	}
	
	.mobileEnquiry  .list-footer {
		padding: 5rem 1rem 3rem 1rem;
	}
	
	.mobileEnquiry  .info-footer {
		padding: 0 1rem 3rem;
	}
	
	.mobileEnquiry  .get-in-touch {
		max-width: 800px;
		margin: 50px auto;
		position: relative;
	}
	
	.mobileEnquiry .contact-form .form-field {
		position: relative;
		margin: 32px 0;
	}
	
	.mobileEnquiry .contact-form .input-text {
		display: block;
		width: 100%;
		height: 36px;
		border-width: 0 0 2px 0;
		border-color: #ffffff;
		background-color: #2a2a2a;
		color: #ffffff;
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
	}
	
	.mobileEnquiry  .contact-form .form-control {
		width: 100%;
		height: 5rem;
		border-width: 0 0 2px 0;
		border-color: #ffffff;
		background-color: #2a2a2a;
		color: #ffffff;
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
	}
	
	.mobileEnquiry  .input:focus {
		outline: none !important;
	}
	
	.mobileEnquiry .textarea:focus {
		outline: none !important;
	}
	
	.mobileEnquiry  .contact-form .label {
		left: 20px;
		bottom: 11px;
		font-size: 18px;
		line-height: 26px;
		font-weight: 200;
		color: #ffffff;
		cursor: text;
		/* transition: -webkit-transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out,
	-webkit-transform 0.2s ease-in-out; */
	}
	.mobileEnquiry  .contact-form .submit-btn {
		font: 600 18px / normal Poppins, sans-serif;
		background-color: #ffcc4d;
		border-radius: 12px;
		padding: 12px 32px;
		transition: 0.3s;
	}
	
	.mobileEnquiry .contact-form .submit-btn:hover {
		--tw-shadow: inset 0 0px 25px 0 rgba(20, 20, 50, 0.7);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
			var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
		transition: 0.3s;
	}
	
	.mobileEnquiry .rrcontainer{
		margin-left: -2rem;
	}

	.mobileEnquiry .terms {
		color: #ffffff;
		margin-right: 11rem;
	}
	
	.mobileEnquiry .returns{
		color: #ffffff;
		margin-right: 13rem;
	}
	
	.mobileEnquiry .privacy{
		color: #ffffff;
		margin-right: 12.6rem;
	}

	.mobileEnquiry .enquiryContainer{
		margin-left: auto;
		margin-right: auto;
		width: 21rem;
	}
}